.rectangle {
  display: flex;
  width: 750px;
  height: 235px;
  background-color: rgba(45, 112, 83, 1);
}

.ellipse {
    width: 141px;
    height: 141px;
    margin-left: 38px;
    margin-top: 47px;
}

.text1 {
    width: 134px;
    height: 131px;
    margin-left: 58px;
    margin-top: 52px;
    font-size: 30px;
    color: #ffff;
}

.images {
    display: block;
}

.rectangle1 {
    width: 84px;
    height: 12px;
    margin-left: 251px;
    margin-top: 84px;
}

.rectangle2 {
    width: 84px;
    height: 12px;
    margin-left: 251px;
    margin-top: 16px;
    
}

.rectangle3 {
    width: 84px;
    height: 12px;
    margin-left: 251px;
    margin-top: 16px;
}

.body1 {
    display: flex;
}

.button1 {
    position: absolute;
    margin-left: 196px;
    margin-top: 368px;
    width: 341px;
    height: 74px;
    background-color: rgba(203, 146, 35, 1);
    text-align: center;
    font-size: 24px;
    color: #ffff;
    border: none;
}

.nameSurname {
    display: flex;
}

.info {
    display: block;
}

.name {
    border-radius: 130px;
    width: 247px;
    height: 247px;
    margin-top: 95px;
    margin-left: 35px;
}

.textNameSurname {
    margin-left: 75px;
    margin-top: 156px;
    font-size: 36px;
}

.specialization {
    margin-left: 73px;
    margin-top: 29px;
    font-size: 24px;
    width: 245px;
    height: 50px;
}

.infoText {
    margin-left: 44px;
    margin-top: 60px;
    font-size: 24px;
}

.reasonText {
    margin-left: 44px;
    margin-top: 46px;
    font-size: 36px;
}

.reasonList {
    margin-top: 43px;
}

.list {
    list-style-type: none;
    font-size: 24px;
}

.li:before {
    content: "- ";
}

.button2 {
    margin-left: 218px;
    margin-top: 44px;
    width: 341px;
    height: 74px;
    background-color: rgba(203, 146, 35, 1);
    text-align: center;
    font-size: 24px;
    color: #ffff;
    border: none;
}

.footer {
    display: flex;
    width: 750px;
    height: 153px;
    background-color: rgba(136, 136, 136, 1);
    margin-top: 50px;
}

.ellipse2 {
    width: 96px;
    height: 96px;
    margin-left: 45px;
    margin-top: 29px;
}

.cellPhone {
    margin-left: 429px;
    margin-top: 56px;
    color: #FFFFFF;
    font-size: 18px;
}

.street {
    position: absolute;
    margin-left: 325px;
    margin-top: 102px;
    color: #FFFFFF;
    font-size: 18px;
}

.mail {
    position: absolute;
    margin-left: 562px;
    margin-top: 98px;
    color: #FFFFFF;
    font-size: 18px;
}
